<h4 class="mat-h4">Playlists</h4>
<mat-list>
    <ng-container *ngFor="let playlist of playlists$ | async">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-list-item>{{playlist.name}}</mat-list-item>
                </mat-panel-title>
                <mat-panel-description>
                    {{playlist.description}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list class="songs-list">
                <div *ngFor="let song of playlist.songs">
                    <mat-list-item>{{ song.title }}</mat-list-item>
                </div>
            </mat-list>
        </mat-expansion-panel>
    </ng-container>
</mat-list>
