<!-- <p>Components to test:</p>
<ul>
    <li><a href="/client/playlists">Playlists</a></li>
    <li><a href="/client/ignored">Ignored songs</a></li>
    <li><a href="/client/recommended">Recommended songs</a></li>
</ul>
<router-outlet></router-outlet>
-->
<mat-sidenav-container>
    <mat-sidenav #sidenav [(opened)]="opened" mode="side" position="end">
        <app-song-page></app-song-page>
    </mat-sidenav>
    <mat-sidenav-content>
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <app-genius-search></app-genius-search>
                <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="5vw">
                    <app-playlists></app-playlists>
                    <div fxLayout="column" fxLayoutGap="5vh">
                        <app-recommended></app-recommended>
                        <app-ignored></app-ignored>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
